body {
    background-color: rgb(255, 153, 169);
}

.box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box2 div {
    background-color: white;
    border-radius: 15px;
    width: 550px;
    text-align: center;
    font-size: 60px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    font-size: 40px;
}

.box div h1::after {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: #b7b6b6;
    margin: 10px auto 0 auto;
}